.terms-wrapper {
  color: #003366;
  background-color: #fff;
  padding: 5px;
}

.terms-wrapper .container {
  max-width: 1343px;
  padding: 20px;
}

.terms-wrapper .content {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.terms-wrapper .cta-link {
  color: #1a5a96;
  font-weight: bold;
  text-decoration: none;
}
