# Database Configuration
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Email Service Configuration
CHES_TOKEN_ENDPOINT=
CHES_CLIENT_ID=
CHES_CLIENT_SECRET=
CHES_BASE_URL=

# App URL
WEB_URL=

# Sending email id
SENDER_EMAIL=