# Database Configuration
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_NAME=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Email Service Configuration
CHES_TOKEN_ENDPOINT=
CHES_CLIENT_ID=
CHES_CLIENT_SECRET=
CHES_BASE_URL=

# App URL
WEB_URL=

# Sending email id
SENDER_EMAIL=

# Condition api url
CONDITION_API_BASE_URL=

# Keycloak
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM_NAME=
KEYCLOAK_SERVICE_ACCOUNT_ID=
KEYCLOAK_SERVICE_ACCOUNT_SECRET=