
DATABASE_USERNAME=analytics
DATABASE_PASSWORD=analytics
DATABASE_NAME=met
DATABASE_HOST=localhost
DATABASE_PORT=5432




ADMIN_CLIENT_ID=met-admin
ADMIN_CLIENT_SECRET=<GENERATED_CLIENT_SECRET>
JWT_OIDC_ISSUER=https://localhost:8080/auth/realms/met
SITE_URL=http://localhost:3000
NOTIFICATIONS_EMAIL_ENDPOINT=https://localhost:5002/api/v1/notifications/email